@import '../variaveis';

.conteudo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-white;
  &_container {
    text-align: center;
  }
  &_intro {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  &_subintro {
    font-size: 2rem;
  }
}
.span-color {
 color: $color-base;
}

// @media(max-width: 375px) {
//   .conteudo {
//     &_intro {
//       font-size: 3rem;
//     }
//   }
// }
