// navbar
.navbar {
  background: $color-dark !important;
  border-bottom: $color-template solid 1px;

  // Logo
  &-brand {
    font-family: 'Righteous', cursive;
    font-size: 2rem;
    font-weight: bold;
    // text-transform: uppercase;
    color: $color-template !important;
    margin-left: 1rem;
  }
}

.nav-link {
  color: $color-template !important;
  &:hover {
    color: $color-white !important;
  }
}