.sociais {
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  border-radius: 2px;
  margin: 1rem auto;
  display: flex;
  justify-content: center;

  &-link {
    font-size: 2rem;
    margin-right: 1rem;
    color: $color-base;

    &:hover {
      color: $color-base3 !important;
    }
  }
}