.sobre {
  margin-top: 10rem;

  &_container {
    text-align: center;
    padding: 0 1rem;
  }

  &_header {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-template;
  }

  &_info {
    text-align: justify;
    font-weight: 400;
  }

  &_avatar img {
    width: auto;
    height: 200px;
    border-radius: 100%;
    border: 2px solid $color-template;
  }
}

// Media
@media(min-width: 900px) {
  .sobre {
    &_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    &_avatar img {
      width: auto;
      height: 300px;
    }
  }

  .sociais {
    width: 50%;
  }
}