.sobre {
  padding-top: 10rem;
  width: 100%;
  height: 100vh;
  color: $color-white;
  // background: $color-base2;

  &_container {
    text-align: center;
    padding: 0 1rem;
  }

  &_header {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-base;
  }

  &_info {
    text-align: justify;
    font-weight: 400;
  }

  &_avatar img {
    width: auto;
    height: 200px;
    border-radius: 100%;
    border: 2px solid $color-base;
  }

  &_sociais {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}

// Media
@media(min-width: 900px) {
  .sobre {
    &_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    &_avatar img {
      width: auto;
      height: 350px;
      margin-left: 3rem;
    }

    &_sociais {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      padding-left: 1rem;
      margin-top: 0;
    }
  }
}